$white: #fff;
$black: #000;
$wild-watermelon: #ff598f;
$very-dark-pink: #3f1523;
$very-dark-cyan: #003f39;
$strong-cyan: #0bb7ba;

$page-width-desktop: 1600px;
$page-width-mobile: 375px;
$image-height-desktop: 900px;
$margin-large: 100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed";
  font-weight: bold;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  z-index: 99;
}

p {
  color: #666;
}

body {
  margin-left: auto;
  margin-right: auto;
}

header,
section,
footer {
  max-width: $page-width-desktop;
  margin-left: auto;
  margin-right: auto;
}

section {
  & > div {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 36px;
      font-weight: normal;

      &.title {
        color: $white;
        text-transform: uppercase;
        margin-bottom: 35px;
        text-align: left;
      }
    }
    p {
      margin-bottom: 35px;
    }
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  z-index: 10;
  width: 100%;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 480px) {
    flex-direction: row;
    padding: 20px $margin-large;
  }
  align-items: center;
  color: $white;
  background: rgba(11, 186, 174, 0.9);

  .logo {
    height: 40px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 480px) {
      margin: 0;
    }
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }

  img {
    max-width: 200px;
  }

  nav {
    height: 40px;
    display: block;
    text-align: center;
    @media (min-width: 480px) {
      text-align: right;
    }
    z-index: 99;

    .nav-icons {
      display: flex;

      ul.nav-links {
        display: flex;
        margin: 5px 10px;
        @media (min-width: 480px) {
          margin: 5px 30px;
        }

        li {
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }

          svg {
            width: 30px;
            height: 30px;
            path.cls-1 {
              fill: $wild-watermelon;
              transition: 0.3s;
            }
            path.cls-2 {
              fill: $white;
            }
          }
          &#linkedin a:hover svg {
            path.cls-1 {
              fill: #3b5998;
            }
          }
          &#facebook a:hover svg {
            path.cls-1 {
              fill: #3b5998;
            }
          }
          &#twitter a:hover svg {
            path.cls-1 {
              fill: #26a6d1;
            }
          }
          &#instagram a:hover svg {
            path.cls-1 {
              fill: #3f729b;
            }
          }
          &#youtube a:hover {
            svg path.cls-1 {
              fill: #c4302b;
            }
          }
        }
      }

      #burger-icon {
        svg {
          width: 44px;
          height: 44px;
          @media (min-width: 480px) {
            width: 54px;
            height: 40px;
          }
          path.cls-1 {
            fill: $white;
            @media (min-width: 480px) {
              fill: #ddd;
            }
            transition: 0.3s;
          }
        }
        &:hover {
          cursor: pointer;
          svg {
            path.cls-1 {
              fill: $white;
            }
          }
        }
      }
    }
  }
  ul.burger-menu {
    margin-top: 4px;
    background: rgba(63, 21, 35, 1);
    @media (min-width: 480px) {
      margin-top: 18px;
      display: inline-flex;
      flex-direction: column;
      background: rgba(63, 21, 35, 0.8);
    }
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
    padding: 20px 0px;

    li {
      font-family: "Roboto Condensed";
      font-size: 21px;
      text-transform: uppercase;
      padding: 20px 30px;

      a {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $white;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
        }
        &:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
    &.open {
      transform: scaleY(1);
    }
  }
}

.main {
  margin-top: -80px;
}

.hero {
  padding: 0;
  color: $white;
  position: relative;
  align-items: center;
  overflow: hidden;

  .background-image {
    width: 100%;
    height: 600px;
    margin-right: 700px;
    @media (min-width: 480px) {
      min-width: $page-width-desktop;
      min-height: $image-height-desktop;
      margin-right: 0;
    }
    background-color: #2196f3;
    z-index: -1;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 480px) {
        width: 1066px;
        height: 600px;
      }
    }
    #slider-image-2 {
      opacity: 0;
      transition: opacity 6s;
    }
  }

  .overlay {
    position: absolute;
    top: 25%;
    @media (min-width: 480px) {
      top: 35%;
    }
    background: rgba(0, 0, 0, 0.4);
    font-family: "Roboto Condensed";
    font-size: 36px;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;

    .huge {
      font-family: "Roboto";
      font-size: 80px;
      font-weight: bold;
    }

    p {
      color: $white;
    }

    button {
      height: 60px;
      padding: 16px;
      background-color: transparent;
      color: $white;
      border: 2px solid $white;
      font-family: "Roboto";
      font-size: 21px;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        background-color: #111;
      }
    }
  }
  #scroll-arrow {
    position: absolute;
    bottom: 20px;

    svg {
      width: 50px;
      height: 50px;
      path.cls-2 {
        transition: 0.3s;
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        path.cls-2 {
          fill: $very-dark-pink;
        }
      }
    }
  }

  h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
  }

  h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
  }

  a.btn {
    padding: 20px 46px;
  }
}

.features {
  background-color: $very-dark-cyan;
  padding: 40px;
  @media (min-width: 480px) {
    padding: 40px $margin-large;
  }

  .grid {
    .featured-item {
      margin-bottom: 20px;
      flex-grow: 1;
      @media (min-width: 480px) {
        flex-grow: 0;
        margin-bottom: 0;
        flex-basis: 32%;
      }
      background-color: #f7f7f7;
      text-transform: uppercase;

      .featured-item-content {
        font-family: "Roboto Condensed";
        font-size: 21px;
        padding: 20px;
        @media (min-width: 480px) {
          padding: 30px 20px;
        }

        h4 {
          color: $black;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }

      button {
        width: 100%;
        height: 50px;
        padding: 12px;
        background-color: $wild-watermelon;
        color: $white;
        border: 0;
        font-family: "Roboto Condensed";
        font-size: 21px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          background-color: $very-dark-pink;
        }
      }
    }
  }
}

.welcome {
  background-color: $white;
  padding: 40px;
  @media (min-width: 480px) {
    padding: 80px $margin-large;
  }

  .title {
    color: $very-dark-cyan;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      height: 3px;
      bottom: -4px;
      left: 0;
      width: 64px;
      background: $strong-cyan;
    }
  }

  .grid {
    .panel-l {
      @media (min-width: 480px) {
        flex-basis: 50%;
      }
      background-color: $white;

      h4 {
        font-size: 28px;
        font-family: "Roboto Condensed";
        color: $black;
        margin-right: 28px;

        &.highlight {
          color: $wild-watermelon;
        }
      }

      p {
        line-height: 1.5;
        font-size: 21px;
        padding-left: 0;
        @media (min-width: 480px) {
          margin-right: 30px;
        }
      }
    }
    .panel-r {
      display: none;
      @media (min-width: 480px) {
        display: block;
        flex-basis: 50%;
      }

      img {
        @media (min-width: 480px) {
          margin-left: 28px;
        }
      }
    }
  }
}

.location {
  background-color: $white;

  .grid {
    .panel-l {
      flex-basis: 40%;
      background-color: $white;
      @media (min-width: 480px) {
        flex-basis: 50%;
      }
    }

    .panel-r {
      flex-basis: 60%;
      @media (min-width: 480px) {
        flex-basis: 50%;
      }
      background-color: $very-dark-pink;
      color: $white;
      text-align: center;
      display: flex;
      padding: 20px;
      @media (min-width: 480px) {
        padding: 0px;
      }

      div {
        margin: auto;
        display: inline-block;
        text-align: left;
        font-size: 18px;
        @media (min-width: 480px) {
          font-size: 28px;
        }
        line-height: 1.2;

        .title {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            height: 3px;
            bottom: -4px;
            left: 0;
            width: 64px;
            background: $wild-watermelon;
          }
        }

        p {
          color: $white;
        }

        button {
          @media (min-width: 480px) {
            width: 100%;
          }
          padding: 16px;
          background-color: transparent;
          color: $white;
          border: 2px solid $white;
          font-family: "Roboto Condensed";
          font-size: 21px;
          text-transform: uppercase;
          margin-bottom: 0px;
          transition: 0.3s;
          &:hover {
            background-color: #2c0f18;
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 20px;

  @media (min-width: 480px) {
    padding: 10px $margin-large;
  }

  & > div {
    @media (min-width: 480px) {
      padding-left: $margin-large;
    }
    .logo {
      width: 100%;
      text-align: center;
      p {
        margin-top: 10px;
        @media (min-width: 480px) {
          margin-top: 0px;
        }
      }
      @media (min-width: 480px) {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
      }
      img {
        width: 80%;
        @media (min-width: 480px) {
          width: auto;
          margin-right: 60px;
        }
      }
    }
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
    @media (min-width: 480px) {
      font-size: 12px;
    }
  }
}
