* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed";
  font-weight: bold;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  z-index: 99;
}

p {
  color: #666;
}

body {
  margin-left: auto;
  margin-right: auto;
}

header,
section,
footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

section > div {
  display: flex;
  flex-direction: column;
}
section > div h3 {
  font-size: 36px;
  font-weight: normal;
}
section > div h3.title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 35px;
  text-align: left;
}
section > div p {
  margin-bottom: 35px;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  z-index: 10;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: rgba(0, 190, 204, 0.7);
}
@media (min-width: 480px) {
  header {
    flex-direction: row;
    padding: 20px 100px;
  }
}
header .logo {
  height: 60px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 480px) {
  header .logo {
    margin: 0;
  }
}
header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
header img {
  max-width: 200px;
}
header nav {
  height: 40px;
  display: block;
  text-align: center;
  width: 100%;
  z-index: 99;
}
@media (min-width: 480px) {
  header nav {
    text-align: right;
    width: auto;
  }
}
header nav .nav-icons {
  display: inline-flex;
}
@media (min-width: 480px) {
  header nav .nav-icons {
    display: flex;
  }
}
header nav .nav-icons ul.nav-links {
  display: flex;
  margin: 5px 10px;
}
@media (min-width: 480px) {
  header nav .nav-icons ul.nav-links {
    margin: 5px 30px;
  }
}
header nav .nav-icons ul.nav-links li {
  margin-left: 10px;
}
header nav .nav-icons ul.nav-links li:first-child {
  margin-left: 0;
}
header nav .nav-icons ul.nav-links li svg {
  width: 30px;
  height: 30px;
}
header nav .nav-icons ul.nav-links li svg path.cls-1 {
  fill: #003f33;
  transition: 0.3s;
}
header nav .nav-icons ul.nav-links li svg path.cls-2 {
  fill: #fff;
}
header nav .nav-icons ul.nav-links li#linkedin a:hover svg path.cls-1 {
  fill: #3b5998;
}
header nav .nav-icons ul.nav-links li#facebook a:hover svg path.cls-1 {
  fill: #3b5998;
}
header nav .nav-icons ul.nav-links li#twitter a:hover svg path.cls-1 {
  fill: #26a6d1;
}
header nav .nav-icons ul.nav-links li#instagram a:hover svg path.cls-1 {
  fill: #3f729b;
}
header nav .nav-icons ul.nav-links li#youtube a:hover svg path.cls-1 {
  fill: #c4302b;
}
header nav .nav-icons #burger-icon svg {
  width: 44px;
  height: 44px;
}
@media (min-width: 480px) {
  header nav .nav-icons #burger-icon svg {
    width: 54px;
    height: 40px;
  }
}
header nav .nav-icons #burger-icon svg path.cls-1 {
  fill: #fff;
  transition: 0.3s;
}
@media (min-width: 480px) {
  header nav .nav-icons #burger-icon svg path.cls-1 {
    fill: #fff;
  }
}
header nav .nav-icons #burger-icon:hover {
  cursor: pointer;
}
header nav .nav-icons #burger-icon:hover svg path.cls-1 {
  fill: #fff;
}
header ul.burger-menu {
  margin-top: 4px;
  background: #00263f;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;
  padding: 20px 0px;
}
@media (min-width: 480px) {
  header ul.burger-menu {
    margin-top: 27px;
    display: inline-flex;
    flex-direction: column;
    background: rgba(0, 38, 63, 0.8);
  }
}
header ul.burger-menu li {
  font-family: "Roboto Condensed";
  font-size: 21px;
  text-transform: uppercase;
  padding: 20px 30px;
}
header ul.burger-menu li a {
  position: relative;
}
header ul.burger-menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin-bottom: -6px;
  left: 0;
  background-color: #00becc;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
header ul.burger-menu li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
header ul.burger-menu.open {
  transform: scaleY(1);
}

.main {
  margin-top: -140px;
}

.hero {
  padding: 0;
  color: #fff;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.hero .background-image {
  width: 100%;
  height: 600px;
  margin-right: 700px;
  background-color: #2196f3;
  z-index: -1;
  position: relative;
}
@media (min-width: 480px) {
  .hero .background-image {
    min-width: 1600px;
    min-height: 900px;
    margin-right: 0;
  }
}
.hero .background-image img {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 480px) {
  .hero .background-image img {
    width: 1066px;
    height: 600px;
  }
}
.hero .background-image #slider-image-2 {
  opacity: 0;
  transition: opacity 6s;
}
.hero .overlay {
  position: absolute;
  top: 33%;
  margin-left: 40px;
  margin-right: 40px;
  padding: 30px;
  background: rgba(217, 217, 217, 0.7);
  font-family: "Roboto Condensed";
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .hero .overlay {
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    padding: 40px;
  }
}
.hero .overlay .huge {
  font-family: "Roboto";
  font-size: 80px;
  font-weight: bold;
}
.hero .overlay p {
  color: #222;
}
.hero .overlay button {
  height: 60px;
  padding: 16px;
  background-color: transparent;
  color: #000;
  border: 2px solid #dedede;
  font-family: "Roboto";
  font-size: 21px;
  text-transform: uppercase;
  transition: 0.3s;
}
.hero .overlay button:hover {
  cursor: pointer;
  background-color: #ddd;
}
.hero .overlay button div {
  position: relative;
}
.hero .overlay button div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -6px;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.hero .overlay button:hover div:before {
  visibility: visible;
  transform: scaleX(1);
}
.hero #scroll-arrow {
  position: absolute;
  bottom: 20px;
}
.hero #scroll-arrow svg {
  width: 50px;
  height: 50px;
}
.hero #scroll-arrow svg path.cls-2 {
  fill: #00becc;
  transition: 0.3s;
}
.hero #scroll-arrow:hover {
  cursor: pointer;
}
.hero #scroll-arrow:hover svg path.cls-2 {
  fill: #003f33;
}
.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}
.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}
.hero a.btn {
  padding: 20px 46px;
}

.features {
  background-color: #00263f;
  padding: 40px;
}
@media (min-width: 480px) {
  .features {
    padding: 40px 100px;
  }
}
.features .grid .featured-item {
  margin-bottom: 20px;
  flex-grow: 1;
  background-color: #f7f7f7;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .features .grid .featured-item {
    flex-grow: 0;
    margin-bottom: 0;
    flex-basis: 32%;
  }
}
.features .grid .featured-item .featured-item-content {
  font-family: "Roboto Condensed";
  font-size: 21px;
  padding: 20px;
}
@media (min-width: 480px) {
  .features .grid .featured-item .featured-item-content {
    padding: 30px 20px;
  }
}
.features .grid .featured-item .featured-item-content h4 {
  color: #000;
}
.features .grid .featured-item .featured-item-content p {
  margin: 0;
  padding: 0;
}
.features .grid .featured-item button {
  width: 100%;
  height: 50px;
  padding: 12px;
  background-color: #00becc;
  color: #fff;
  border: 0;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  transition: 0.3s;
}
.features .grid .featured-item button:hover {
  cursor: pointer;
  background-color: #003f33;
}

.welcome {
  background-color: #fff;
  padding: 40px;
}
@media (min-width: 480px) {
  .welcome {
    padding: 80px 100px;
  }
}
.welcome .title {
  color: #00263f;
  position: relative;
}
.welcome .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -4px;
  left: 0;
  width: 64px;
  background: #00becc;
}
.welcome .grid .panel-l {
  background-color: #fff;
}
@media (min-width: 480px) {
  .welcome .grid .panel-l {
    flex-basis: 50%;
  }
}
.welcome .grid .panel-l h4 {
  font-size: 28px;
  font-family: "Roboto Condensed";
  color: #000;
  margin-right: 28px;
}
.welcome .grid .panel-l h4.highlight {
  color: #00becc;
}
.welcome .grid .panel-l p {
  line-height: 1.5;
  font-size: 21px;
  padding-left: 0;
}
@media (min-width: 480px) {
  .welcome .grid .panel-l p {
    margin-right: 30px;
  }
}
.welcome .grid .panel-r {
  display: none;
}
@media (min-width: 480px) {
  .welcome .grid .panel-r {
    display: block;
    flex-basis: 50%;
  }
}
@media (min-width: 480px) {
  .welcome .grid .panel-r img {
    margin-left: 28px;
  }
}

.location {
  background-color: #fff;
}
.location .grid .panel-l {
  flex-basis: 40%;
  background-color: #fff;
}
@media (min-width: 480px) {
  .location .grid .panel-l {
    flex-basis: 50%;
  }
}
.location .grid .panel-r {
  flex-basis: 60%;
  background-color: #003f33;
  color: #fff;
  text-align: center;
  display: flex;
  padding: 20px;
}
@media (min-width: 480px) {
  .location .grid .panel-r {
    flex-basis: 50%;
  }
}
@media (min-width: 480px) {
  .location .grid .panel-r {
    padding: 0px;
  }
}
.location .grid .panel-r div {
  margin: auto;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
}
@media (min-width: 480px) {
  .location .grid .panel-r div {
    font-size: 28px;
  }
}
.location .grid .panel-r div .title {
  position: relative;
}
.location .grid .panel-r div .title:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -4px;
  left: 0;
  width: 64px;
  background: #00becc;
}
.location .grid .panel-r div p {
  color: #fff;
}
.location .grid .panel-r div button {
  padding: 16px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 0px;
  transition: 0.3s;
}
@media (min-width: 480px) {
  .location .grid .panel-r div button {
    width: 100%;
  }
}
.location .grid .panel-r div button:hover {
  cursor: pointer;
}
.location .grid .panel-r div button div {
  position: relative;
}
.location .grid .panel-r div button div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.location .grid .panel-r div button:hover div:before {
  visibility: visible;
  transform: scaleX(1);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
}
@media (min-width: 480px) {
  footer {
    padding: 10px 100px;
  }
}
@media (min-width: 480px) {
  footer > div {
    padding-left: 100px;
  }
}
footer > div .logo {
  width: 100%;
  text-align: center;
}
footer > div .logo p {
  margin-top: 10px;
}
@media (min-width: 480px) {
  footer > div .logo p {
    margin-top: 0px;
  }
}
@media (min-width: 480px) {
  footer > div .logo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}
footer > div .logo img {
  width: 100%;
}
@media (min-width: 480px) {
  footer > div .logo img {
    width: 250px;
    margin-right: 60px;
  }
}
footer p {
  font-size: 16px;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  footer p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=output.css.map */
